body {
  background: #F9FCFB;
  padding: 0 16px;
}

.stack-container {
  width: 100%;
  height: auto;
  min-height: 700px;
  max-width: 980px;
  min-width: 150px;
  background: #f1f5f8;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}


.pie-container {
  width: 100%;
  height: auto;
  min-height: 700px;
  max-width: 980px;
  min-width: 150px;
  background: #f1f5f8;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}

.table-container {
  background: #f1f5f8;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}


footer {
  position: absolute;
  text-align: center;
  bottom: 50;
  width: 100%;
  height: 20;
  
}

footer p {
  color: #ccc;
}

.nav-border {
  border-radius: 30px; 
  }

.border {
  border-radius: 30px; 
  padding: 2rem;
  }



.flex-container {
    padding: 1rem;
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

svg {
  display: block;
  width: 100%;
  height: 300px;
  background: #f7f7f7;
  overflow: visible;
}

svg rect.selection {
  stroke: none;
}

video {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  width: 100%;
}

.field {
  display: inline-block;
  margin: 0 0.5em;
}

.field input {
  margin-right: 0.5em;
}


  